<%= form_with model: @category do |form| %>
    <div>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    <div>
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>
    <div>
      <%= form.label :priority_level %>
      <%= form.number_field :priority_level %>
    </div>
    <%= form.submit %>
  <% end %>
  