<%= form_with(model: [@category, @article], local: true) do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, value: @article.title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :body, value: @article.body %>
  </div>

  <div>
      <%= form.label :author %><br>
      <%= form.collection_select :author_id, Author.all, :id, :name%> <br>
  </div>

  <div>
    <%= form.label :category %><br>
    <%= form.collection_select :category_id, Category.order(:name), :id, :name%> 
    
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

