<% content_for :javascript do %>
    <script type="module">
        import "article";
    </script>
<% end %>
<nav id="nav-links">
<%= link_to "Categories", categories_path %>
<%= link_to 'Authors', authors_path %>
<%= link_to 'All Articles', articles_path(@category) %>
<%= link_to 'Donations Page', donations_new_path %>
</nav>

<div id="article-content">
    <h1><%= @article.title %></h1>
    <p><%= @article.body %></p>

    <p><strong>Author:</strong> 
    <% if @article.author.present? %>
        <%= @article.author.name %>
    <% else %>
        <em>Author not assigned</em>
    <% end %>
    </p>

    <ul>
    <li><%= link_to "Edit", edit_article_path(@article) %></li>
    <li><%= link_to "Delete", article_path(@article), data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                    } %></li>
    </ul>

    <div id="comments">
    <h2>Comments</h2>
    <div id="initial-comments">
        <%= render @article.comments.limit(3) %> <!-- Show the first 3 comments -->
    </div>

    <button id="toggle-button">Show More Comments</button>

    <div id="additional-comments" style="display: none;">
        <%= render @article.comments.offset(3) %> <!-- Show the rest of the comments after the first 3 -->
    </div>

    <h2>Add a comment:</h2>
    <%= render "comments/form", article: @article %>
</div>
</div>


