<h1><%= @author.name %></h1>
<p><%= @author.bio %></p>

<h2>Articles by <%= @author.name %></h2>
<ul>
  <% if @articles.present? %>
    <% @articles.each do |article| %>
      <li><%= link_to article.title, article_path(article) %></li>
    <% end %>
  <% else %>
    <li>No articles found for this author.</li>
  <% end %>
</ul>


<%= form_with(model: @author, method: :delete) do |form| %>
  <%= form.submit 'Delete', data: { confirm: 'Are you sure?' } %>
<% end %>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back to Authors', authors_path %>