<h1><%= @author.name %></h1>
<p><%= @author.bio %></p>

<h2>Articles written by <%= @author.name %></h2>
<ul>
  <% @author.articles.each do |article| %>
    <li><%= link_to article.title, article_path(article) %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Delete', author_path(@author), method: :delete, data: { confirm: 'Are you sure?' } %>
<h1><%= @author.name %></h1>

<h2>Articles by <%= author.name %>:</h2>
<ul>
  <% @articles.each do |article| %>
    <li><%= link_to article.title, article_path(article) %></li>
  <% end %>
</ul>
